# Cloning data from Git Hub

In [41]:
cd "D:\Praveen_PhonePe_Project_2023"

D:\Praveen_PhonePe_Project_2023

In [42]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

# Importing Libraries

In [43]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\prawi\appdata\roaming\python\python311\site-packages (2.2.9)

In [44]:
import pandas as ps

In [45]:
!pip3 install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\prawi\appdata\roaming\python\python311\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from mysql-connector-python) (4.21.12)

In [46]:
import mysql.connector

In [47]:
!pip install streamlit

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: streamlit in c:\users\prawi\appdata\roaming\python\python311\site-packages (1.28.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit) (5.1.2)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit) (1.6.3)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: importlib-metadata<7,>=1.4 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<24,>=16.8 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (23.0)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (1.5.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit) (4.21.12)
Requirement already satisfied: pyarrow>=6.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (11.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit) (13.6.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (4.7.1)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit) (3.1.40)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (6.3.2)
Requirement already satisfied: watchdog>=2.1.5 in c:\programdata\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\programdata\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in c:\programdata\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in c:\programdata\anaconda3\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2022.7)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\programdata\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\programdata\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: tzdata in c:\users\prawi\appdata\roaming\python\python311\site-packages (from tzlocal<6,>=1.1->streamlit) (2023.3)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\programdata\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)

In [48]:
!pip install streamlit-option-menu

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: streamlit-option-menu in c:\users\prawi\appdata\roaming\python\python311\site-packages (0.3.6)
Requirement already satisfied: streamlit>=0.63 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit-option-menu) (1.28.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit>=0.63->streamlit-option-menu) (5.1.2)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit>=0.63->streamlit-option-menu) (1.6.3)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit>=0.63->streamlit-option-menu) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (8.0.4)
Requirement already satisfied: importlib-metadata<7,>=1.4 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (6.0.0)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (1.24.3)
Requirement already satisfied: packaging<24,>=16.8 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (23.0)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (1.5.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (9.4.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit>=0.63->streamlit-option-menu) (4.21.12)
Requirement already satisfied: pyarrow>=6.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (11.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit>=0.63->streamlit-option-menu) (13.6.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (4.7.1)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit>=0.63->streamlit-option-menu) (5.2)
Requirement already satisfied: validators<1,>=0.2 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit>=0.63->streamlit-option-menu) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit>=0.63->streamlit-option-menu) (3.1.40)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from streamlit>=0.63->streamlit-option-menu) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (6.3.2)
Requirement already satisfied: watchdog>=2.1.5 in c:\programdata\anaconda3\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (2.1.6)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\programdata\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (4.17.3)
Requirement already satisfied: toolz in c:\programdata\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (0.12.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit>=0.63->streamlit-option-menu) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit>=0.63->streamlit-option-menu) (4.0.11)
Requirement already satisfied: zipp>=0.5 in c:\programdata\anaconda3\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit>=0.63->streamlit-option-menu) (3.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit>=0.63->streamlit-option-menu) (2022.7)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit>=0.63->streamlit-option-menu) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit>=0.63->streamlit-option-menu) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit>=0.63->streamlit-option-menu) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit>=0.63->streamlit-option-menu) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit>=0.63->streamlit-option-menu) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\programdata\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit>=0.63->streamlit-option-menu) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\programdata\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit>=0.63->streamlit-option-menu) (2.15.1)
Requirement already satisfied: tzdata in c:\users\prawi\appdata\roaming\python\python311\site-packages (from tzlocal<6,>=1.1->streamlit>=0.63->streamlit-option-menu) (2023.3)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit>=0.63->streamlit-option-menu) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\programdata\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\programdata\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit>=0.63->streamlit-option-menu) (0.1.0)

In [49]:
from streamlit_option_menu import option_menu

In [50]:
import pandas as pd
import mysql.connector as sql
import streamlit as st
import plotly.express as px
import os
import json
from streamlit_option_menu import option_menu
from PIL import Image
from git.repo.base import Repo

In [51]:
#Data Extraction from cloned Data

In [52]:
path=r"D:\Praveen_PhonePe_Project_2023\pulse\data\aggregated\transaction\country\india\state\andaman-&-nicobar-islands\2018\1.json"
view_data = open(path,'r')
A = json.load(view_data)
pprint(A)

NameError: name 'pprint' is not defined

In [62]:
# DataFrame of Agg_Trans_T1

path1 = r'D:\Praveen_PhonePe_Project_2023\pulse\data\aggregated\transaction\country\india\state'
Agg_Trans_List = os.listdir(path1)

clm1 = {'State':[],'Year':[],
        'Quater':[],
        'Transaction_type':[],
        'Transaction_count':[],
        'Transaction_amount':[]}
for state in Agg_Trans_List:    #state is like i variable in for-loop
    curr_state = path1 + "/" + state 
    Agg_Year_List = os.listdir(curr_state)
    for year in Agg_Year_List:
        curr_year = curr_state + "/" + year 
        Agg_File_List = os.listdir(curr_year)
        for file in Agg_File_List:
            curr_file = curr_year + "/" + file
            data1 = open(curr_file,'r')
            A = json.load(data1)

            for z in A['data']['transactionData']:
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                clm1['Transaction_type'].append(Name)
                clm1['Transaction_count'].append(count)
                clm1['Transaction_amount'].append(amount)
                clm1['State'].append(state)
                clm1['Year'].append(year)
                clm1['Quater'].append(int(file.strip('.json')))
                #Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm1)

In [78]:
Agg_Trans.head(1)

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06

In [ ]:
#to check Agg_User_table 
path2=r"D:\Praveen_PhonePe_Project_2023\pulse\data\aggregated\user\country\india\state\andaman-&-nicobar-islands\2018\1.json"
view_data = open(path2,'r')
D = json.load(view_data)
pprint(D)

In [72]:
## Agg_User_DataFrame: T2

path2 = r"D:\Praveen_PhonePe_Project_2023\pulse\data\aggregated\user\country\india\state"
Agg_User_List = os.listdir(path2)

clm2 = {'State':[], 'Year': [], 'Quater': [], 'Brand_Name': [], 'Count': [], 'Percentage': [] }

for i in Agg_User_List:
    p_i = path2 + "/" + i
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + "/" + j
        Agg_file = os.listdir(p_j)
        for k in Agg_file:
            p_k = p_j + "/" + k
            data2 = open(p_k,'r')
            B = json.load(data2)
            try:
                for z in B['data']['usersByDevice']:
                    brands = z['brand']
                    counts = z['count']
                    percentages = z['percentage']
                    clm2['Brand_Name'].append(brands)
                    clm2['Count'].append(counts)
                    clm2['Percentage'].append(percentages)
                    clm2['State'].append(state)
                    clm2['Year'].append(year)
                    clm2['Quater'].append(int(k.strip('.json')))
            except:
                pass
Agg_User = pd.DataFrame(clm2)

In [ ]:
Agg_User.shape

In [ ]:
Agg_User

In [ ]:
p = r"D:\Praveen_PhonePe_Project_2023\pulse\data\map\transaction\hover\country\india\state\andaman-&-nicobar-islands\2018\1.json"
x = open(p,'r')
c = json.load(x)
pprint(c)

In [ ]:
c['data']['hoverDataList'] #district name , trns_type, trsns_count, trans_amount

In [73]:
## Map_Transaction_DataFrame: T3

path3 = r'D:\Praveen_PhonePe_Project_2023\pulse\data\map\transaction\hover\country\india\state'
Map_Trans_List = os.listdir(path3)

clm3 = {'State':[],'Year':[],'Quater':[],
        'District_Name':[],
        'Transaction_count':[],
        'Transaction_amount':[]}
for state in Agg_Trans_List:    #state is like i variable in for-loop
    curr_state = path3 + "/" + state 
    Agg_Year_List = os.listdir(curr_state)
    for year in Agg_Year_List:
        curr_year = curr_state + "/" + year 
        Agg_File_List = os.listdir(curr_year)
        for file in Agg_File_List:
            curr_file = curr_year + "/" + file
            data3 = open(curr_file,'r')
            C = json.load(data3)

            for z in C['data']['hoverDataList']:
                district_Name=z['name']
                count=z['metric'][0]['count']
                amount=z['metric'][0]['amount']
                clm3['District_Name'].append(district_Name)
                clm3['Transaction_count'].append(count)
                clm3['Transaction_amount'].append(amount)
                clm3['State'].append(state)
                clm3['Year'].append(year)
                clm3['Quater'].append(int(file.strip('.json')))
                #Succesfully created a dataframe
Map_Trans=pd.DataFrame(clm3)

In [ ]:
Map_Trans

In [ ]:
Map_Trans.shape

In [ ]:
#to check Agg_User_table 
path4=r"D:\Praveen_PhonePe_Project_2023\pulse\data\map\user\hover\country\india\state\andaman-&-nicobar-islands\2018\1.json"
view_data = open(path4,'r')
D = json.load(view_data)
pprint(D)

In [ ]:
D['data']['hoverData']

In [74]:
## Map_User_DataFrame: T4

path4 = r"D:\Praveen_PhonePe_Project_2023\pulse\data\map\user\hover\country\india\state"
Map_User_List = os.listdir(path4)

clm4 = {'State':[], 'Year': [], 'Quater': [], 'District_Name': [], 'Reg_Users': [], 'App_Open': [] }

for i in Map_User_List:
    p_i = path4 + "/" + i
    Map_yr = os.listdir(p_i)
    for j in Map_yr:
        p_j = p_i + "/" + j
        Map_file = os.listdir(p_j)
        for k in Map_file:
            p_k = p_j + "/" + k
            data4 = open(p_k,'r')
            D = json.load(data4)
            for z in D['data']['hoverData'].items():
                district_Name  = z[0]
                reg_users = z[1]['registeredUsers']
                appsopen = z[1]['appOpens']
                clm4['District_Name'].append(district_Name)
                clm4['Reg_Users'].append(reg_users)
                clm4['App_Open'].append(appsopen)
                clm4['State'].append(state)
                clm4['Year'].append(year)
                clm4['Quater'].append(int(k.strip('.json')))
                
Map_User = pd.DataFrame(clm4)

In [ ]:
Map_User

In [ ]:
Map_User.shape

In [ ]:
p = r"D:\Praveen_PhonePe_Project_2023\pulse\data\top\transaction\country\india\state\andaman-&-nicobar-islands\2018\1.json"
x = open(p,'r')
e = json.load(x)
pprint(e)

In [ ]:
e['data']['pincodes'][0]

In [102]:
## Top_Transaction_DataFrame: T5

path5 = r'D:\Praveen_PhonePe_Project_2023\pulse\data\top\transaction\country\india\state'
Top_Trans_List = os.listdir(path5)

clm5 = {'State':[],'Year':[],'Quater':[],
        'Pincodes':[],
        'Transaction_count':[],
        'Transaction_amount':[]}
for state in Top_Trans_List:    #state is like i variable in for-loop
    curr_state = path5 + "/" + state 
    Agg_Year_List = os.listdir(curr_state)
    for year in Agg_Year_List:
        curr_year = curr_state + "/" + year 
        Agg_File_List = os.listdir(curr_year)
        for file in Agg_File_List:
            curr_file = curr_year + "/" + file
            data5 = open(curr_file,'r')
            E = json.load(data5)

            for z in E['data']['pincodes']:
                pincodes=z['entityName']
                count=z['metric']['count']
                amount=z['metric']['amount']
                clm5['Pincodes'].append(pincodes)
                clm5['Transaction_count'].append(count)
                clm5['Transaction_amount'].append(amount)
                clm5['State'].append(state)
                clm5['Year'].append(year)
                clm5['Quater'].append(int(file.strip('.json')))
                #Succesfully created a dataframe
Top_Trans=pd.DataFrame(clm5)

In [103]:
Top_Trans.head(3)

,State,Year,Quater,Pincodes,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,744102,969,3.519060e+06

In [94]:
Top_Trans.shape

(8210, 6)

In [ ]:
p6 = r"D:\Praveen_PhonePe_Project_2023\pulse\data\top\user\country\india\state\andaman-&-nicobar-islands\2018\1.json"
x = open(p6,'r')
f = json.load(x)
pprint(f)

In [106]:
## Top_User_DataFrame: T6

path6 = r"D:\Praveen_PhonePe_Project_2023\pulse\data\top\user\country\india\state"
Top_User_List = os.listdir(path6)

clm6 = {'State':[],'Year':[],'Quater':[],
        'Pincodes':[],
        'Reg_Users':[],}

for state in Top_User_List:    #state is like i variable in for-loop
    curr_state = path6 + "/" + state 
    Agg_Year_List = os.listdir(curr_state)
    for year in Agg_Year_List:
        curr_year = curr_state + "/" + year 
        Agg_File_List = os.listdir(curr_year)
        for file in Agg_File_List:
            curr_file = curr_year + "/" + file
            data6 = open(curr_file,'r')
            F = json.load(data6)
            for i in F['data']['pincodes']:
                name = i['name']
                RegisteredUsers = i['registeredUsers']
                clm6['Pincodes'].append(name)
                clm6['Reg_Users'].append(RegisteredUsers)
                clm6['State'].append(state)
                clm6['Year'].append(year)
                clm6['Quater'].append(int(file.strip('.json')))
                
Top_User = pd.DataFrame(clm6)

In [ ]:
Top_User

In [107]:
Top_User.shape

(8211, 5)

# Converting json(loaded) to .csv file

In [ ]:
##DataFrames

Agg_Trans
Agg_User
Map_Trans
Map_User
Top_Trans
Top_User

In [ ]:
Agg_Trans.to_csv('Agg_Trans.csv',index=False)
Agg_User.to_csv('Agg_User.csv',index=False)
Map_Trans.to_csv('Map_Trans.csv',index=False)
Map_User.to_csv('Map_User.csv',index=False)
Top_Trans.to_csv('Top_Trans.csv',index=False)
Top_User.to_csv('Top_User.csv',index=False)

## Connecting MySQL

In [ ]:
!pip install pymysql

In [ ]:
#Install mysql connector # already imported 

import pymysql
#import mysql.connector as sql

In [ ]:
##Connecting to SQL

In [ ]:
mydb = pymysql.connect(host="localhost",
                  user="root",
                  password="vkDS@2723",
                  autocommit = True
                  )
#mycursor = mydb.cursor(buffered=True)
print(mydb)

In [ ]:
mycursor = mydb.cursor()

In [ ]:
#create Database phonepe_pulse

In [ ]:
mycursor.execute("CREATE DATABASE phonepe_pulse")

In [ ]:
#use Database phonepe_pulse

In [ ]:
mycursor.execute('use phonepe_pulse')

In [ ]:
#create Table T1/Agg_Trans

In [ ]:
mycursor.execute("create table Agg_Trans (State varchar(100), Year int, Quater int, Transaction_type varchar(100), Transaction_count int, Transaction_amount double)")

In [66]:
for i,rows in Agg_Trans.iterrows():
    sql = "INSERT INTO Agg_Trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql,tuple(rows))
    mydb.commit()

In [77]:
Agg_User.head(1)

         State  Year  Quater Brand_Name  Count  Percentage
0  west-bengal  2023       1     Xiaomi   1665    0.247033

In [87]:
#create Table T2/Agg_User
mycursor.execute("create table Agg_User (State varchar(100), Year int, Quater int, Brand_Name varchar(100), Count int, Percentage double)")
for i, rows in Agg_User.iterrows():
    sql = "INSERT INTO Agg_User VALUES(%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql,tuple(rows))
    mydb.commit()

In [88]:
Map_Trans.head(1)

,State,Year,Quater,District_Name,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,931663.077094

In [89]:
#create Table T3/Map_Trans
mycursor.execute("create table Map_Trans (State varchar(100), Year int, Quater int, District_Name varchar(100), Transaction_count int, Transaction_amount double)")
for i, rows in Map_Trans.iterrows():
    sql = "INSERT INTO Map_Trans VALUES(%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql,tuple(rows))
    mydb.commit()

In [90]:
Map_User.head(1)

,State,Year,Quater,District_Name,Reg_Users,App_Open
0,west-bengal,2023,1,north and middle andaman district,632,0

In [91]:
#create Table T4/Map_User
mycursor.execute("create table Map_User (State varchar(100), Year int, Quater int, District_Name varchar(100), Reg_Users int, App_Open int)")
for i, rows in Map_User.iterrows():
    sql = "INSERT INTO Map_User VALUES(%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql,tuple(rows))
    mydb.commit()

In [95]:
Top_Trans.head(1)

,State,Year,Quater,Pincodes,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,darjiling district,1622,2769297.904

In [104]:
#create Table T5/Top_Trans
mycursor.execute("create table Top_Trans (State varchar(100), Year int, Quater int, Pincodes int, Transaction_count int, Transaction_amount double)")
for i, rows in Top_Trans.iterrows():
    sql = "INSERT INTO Top_Trans VALUES(%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql,tuple(rows))
    mydb.commit()

In [108]:
Top_User.head(2)

                       State  Year  Quater Pincodes  Reg_Users
0  andaman-&-nicobar-islands  2018       1   744103       1608
1  andaman-&-nicobar-islands  2018       1   744101       1108

In [110]:
#create Table T6/Top_User
mycursor.execute("create table Top_User (State varchar(100), Year int, Quater int, Pincodes int, Reg_Users int)")
for i, rows in Top_User.iterrows():
    sql = "INSERT INTO Top_User VALUES(%s,%s,%s,%s,%s)"
    mycursor.execute(sql,tuple(rows))
    mydb.commit()

In [111]:
mycursor.execute("show tables")
mycursor.fetchall()

(('agg_trans',),
 ('agg_user',),
 ('map_trans',),
 ('map_user',),
 ('top_trans',),
 ('top_user',))