# Cloning data from Git Hub

In [1]:
cd "D:\Praveen_PhonePe_Project_2023"

D:\Praveen_PhonePe_Project_2023

In [3]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

# Importing Libraries

In [29]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\prawi\appdata\roaming\python\python311\site-packages (2.2.9)

In [32]:
import pandas as ps

In [38]:
!pip3 install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\prawi\appdata\roaming\python\python311\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\prawi\appdata\roaming\python\python311\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
import mysql.connector

In [ ]:
!pip install streamlit

In [ ]:
!pip install streamlit-option-menu

In [9]:
from streamlit_option_menu import option_menu

In [1]:
import pandas as pd
import mysql.connector as sql
import streamlit as st
import plotly.express as px
import os
import json
from streamlit_option_menu import option_menu
from PIL import Image
from git.repo.base import Repo

In [ ]:
#Data Extraction from cloned Data

In [49]:
path=r"D:\Praveen_PhonePe_Project_2023\pulse\data\aggregated\transaction\country\india\state\andaman-&-nicobar-islands\2018\1.json"
view_data = open(path,'r')
A = json.load(view_data)
pprint(A)

{'code': 'SUCCESS',
 'data': {'from': 1514745000000,
          'to': 1522175400000,
          'transactionData': [{'name': 'Recharge & bill payments',
                               'paymentInstruments': [{'amount': 1845307.4673655091,
                                                       'count': 4200,
                                                       'type': 'TOTAL'}]},
                              {'name': 'Peer-to-peer payments',
                               'paymentInstruments': [{'amount': 12138655.299749982,
                                                       'count': 1871,
                                                       'type': 'TOTAL'}]},
                              {'name': 'Merchant payments',
                               'paymentInstruments': [{'amount': 452507.168646613,
                                                       'count': 298,
                                                       'type': 'TOTAL'}]},
                              {'name': 'Financial Services',
                               'paymentInstruments': [{'amount': 10601.419933464953,
                                                       'count': 33,
                                                       'type': 'TOTAL'}]},
                              {'name': 'Others',
                               'paymentInstruments': [{'amount': 184689.8662902223,
                                                       'count': 256,
                                                       'type': 'TOTAL'}]}]},
 'responseTimestamp': 1630501487199,
 'success': True}

# DataFrame of Agg_Trans_T1

path1 = r'D:\Praveen_PhonePe_Project_2023\pulse\data\aggregated\transaction\country\india\state'
Agg_Trans_List = os.listdir(path1)

clm1 = {'State':[],'Year':[],
        'Quater':[],
        'Transaction_type':[],
        'Transaction_count':[],
        'Transaction_amount':[]}
for state in Agg_Trans_List:    #state is like i variable in for-loop
    curr_state = path1 + "/" + state 
    Agg_Year_List = os.listdir(curr_state)
    for year in Agg_Year_List:
        curr_year = curr_state + "/" + year 
        Agg_File_List = os.listdir(curr_year)
        for file in Agg_File_List:
            curr_file = curr_year + "/" + file
            data1 = open(curr_file,'r')
            A = json.load(data1)

            for z in A['data']['transactionData']:
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                clm1['Transaction_type'].append(Name)
                clm1['Transaction_count'].append(count)
                clm1['Transaction_amount'].append(amount)
                clm1['State'].append(state)
                clm1['Year'].append(year)
                clm1['Quater'].append(int(file.strip('.json')))
                #Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm1)

In [74]:
Agg_Trans

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4129,west-bengal,2023,3,Merchant payments,296965002,2.004404e+11
4130,west-bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4131,west-bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10
4132,west-bengal,2023,3,Financial Services,389751,4.249856e+08
4133,west-bengal,2023,3,Others,532474,4.232851e+08

In [80]:
#to check Agg_User_table 
path2=r"D:\Praveen_PhonePe_Project_2023\pulse\data\aggregated\user\country\india\state\andaman-&-nicobar-islands\2018\1.json"
view_data = open(path2,'r')
D = json.load(view_data)
pprint(D)

{'code': 'SUCCESS',
 'data': {'aggregated': {'appOpens': 0, 'registeredUsers': 6740},
          'usersByDevice': [{'brand': 'Xiaomi',
                             'count': 1665,
                             'percentage': 0.2470326409495549},
                            {'brand': 'Samsung',
                             'count': 1445,
                             'percentage': 0.21439169139465875},
                            {'brand': 'Vivo',
                             'count': 982,
                             'percentage': 0.1456973293768546},
                            {'brand': 'Oppo',
                             'count': 501,
                             'percentage': 0.07433234421364986},
                            {'brand': 'OnePlus',
                             'count': 332,
                             'percentage': 0.04925816023738872},
                            {'brand': 'Realme',
                             'count': 316,
                             'percentage': 0.04688427299703264},
                            {'brand': 'Apple',
                             'count': 229,
                             'percentage': 0.03397626112759644},
                            {'brand': 'Motorola',
                             'count': 226,
                             'percentage': 0.03353115727002967},
                            {'brand': 'Lenovo',
                             'count': 202,
                             'percentage': 0.02997032640949555},
                            {'brand': 'Huawei',
                             'count': 158,
                             'percentage': 0.02344213649851632},
                            {'brand': 'Others',
                             'count': 684,
                             'percentage': 0.10148367952522255}]},
 'responseTimestamp': 1630501494543,
 'success': True}

## Agg_User_DataFrame: T2

path2 = r"D:\Praveen_PhonePe_Project_2023\pulse\data\aggregated\user\country\india\state"
Agg_User_List = os.listdir(path2)

clm2 = {'State':[], 'Year': [], 'Quater': [], 'Brand_Name': [], 'Count': [], 'Percentage': [] }

for i in Agg_User_List:
    p_i = path2 + "/" + i
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + "/" + j
        Agg_file = os.listdir(p_j)
        for k in Agg_file:
            p_k = p_j + "/" + k
            data2 = open(p_k,'r')
            B = json.load(data2)
            try:
                for z in B['data']['usersByDevice']:
                    brands = z['brand']
                    counts = z['count']
                    percentages = z['percentage']
                    clm2['Brand_Name'].append(brands)
                    clm2['Count'].append(counts)
                    clm2['Percentage'].append(percentages)
                    clm2['State'].append(state)
                    clm2['Year'].append(year)
                    clm2['Quater'].append(int(k.strip('.json')))
            except:
                pass
Agg_User = pd.DataFrame(clm2)

In [86]:
Agg_User.shape

(6732, 6)

In [87]:
Agg_User

            State  Year  Quater Brand_Name    Count  Percentage
0     west-bengal  2023       1     Xiaomi     1665    0.247033
1     west-bengal  2023       1    Samsung     1445    0.214392
2     west-bengal  2023       1       Vivo      982    0.145697
3     west-bengal  2023       1       Oppo      501    0.074332
4     west-bengal  2023       1    OnePlus      332    0.049258
...           ...   ...     ...        ...      ...         ...
6727  west-bengal  2023       1     Lenovo   330017    0.015056
6728  west-bengal  2023       1    Infinix   284678    0.012987
6729  west-bengal  2023       1       Asus   280347    0.012790
6730  west-bengal  2023       1      Apple   277752    0.012671
6731  west-bengal  2023       1     Others  2196334    0.100199

[6732 rows x 6 columns]

In [103]:
p = r"D:\Praveen_PhonePe_Project_2023\pulse\data\map\transaction\hover\country\india\state\andaman-&-nicobar-islands\2018\1.json"
x = open(p,'r')
c = json.load(x)
pprint(c)

{'code': 'SUCCESS',
 'data': {'hoverDataList': [{'metric': [{'amount': 931663.0770939873,
                                         'count': 442,
                                         'type': 'TOTAL'}],
                             'name': 'north and middle andaman district'},
                            {'metric': [{'amount': 12560249.34366581,
                                         'count': 5688,
                                         'type': 'TOTAL'}],
                             'name': 'south andaman district'},
                            {'metric': [{'amount': 1139848.801225994,
                                         'count': 528,
                                         'type': 'TOTAL'}],
                             'name': 'nicobars district'}]},
 'responseTimestamp': 1630502910687,
 'success': True}

In [117]:
c['data']['hoverDataList'] #district name , trns_type, trsns_count, trans_amount

[{'name': 'north and middle andaman district',
  'metric': [{'type': 'TOTAL', 'count': 442, 'amount': 931663.0770939873}]},
 {'name': 'south andaman district',
  'metric': [{'type': 'TOTAL', 'count': 5688, 'amount': 12560249.34366581}]},
 {'name': 'nicobars district',
  'metric': [{'type': 'TOTAL', 'count': 528, 'amount': 1139848.801225994}]}]

## Map_Transaction_DataFrame: T3

path3 = r'D:\Praveen_PhonePe_Project_2023\pulse\data\map\transaction\hover\country\india\state'
Map_Trans_List = os.listdir(path3)

clm3 = {'State':[],'Year':[],'Quater':[],
        'District_Name':[],
        'Transaction_count':[],
        'Transaction_amount':[]}
for state in Agg_Trans_List:    #state is like i variable in for-loop
    curr_state = path3 + "/" + state 
    Agg_Year_List = os.listdir(curr_state)
    for year in Agg_Year_List:
        curr_year = curr_state + "/" + year 
        Agg_File_List = os.listdir(curr_year)
        for file in Agg_File_List:
            curr_file = curr_year + "/" + file
            data3 = open(curr_file,'r')
            C = json.load(data3)

            for z in C['data']['hoverDataList']:
                district_Name=z['name']
                count=z['metric'][0]['count']
                amount=z['metric'][0]['amount']
                clm3['District_Name'].append(district_Name)
                clm3['Transaction_count'].append(count)
                clm3['Transaction_amount'].append(amount)
                clm3['State'].append(state)
                clm3['Year'].append(year)
                clm3['Quater'].append(int(file.strip('.json')))
                #Succesfully created a dataframe
Map_Trans=pd.DataFrame(clm3)

In [135]:
Map_Trans

,State,Year,Quater,District_Name,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16827,west-bengal,2023,3,nadia district,30146530,5.787869e+10
16828,west-bengal,2023,3,birbhum district,17597047,3.090737e+10
16829,west-bengal,2023,3,purba medinipur district,34244893,6.813718e+10
16830,west-bengal,2023,3,maldah district,28539407,5.299766e+10
16831,west-bengal,2023,3,darjiling district,14747572,2.463195e+10

In [120]:
Map_Trans.shape

(16832, 6)

In [122]:
#to check Agg_User_table 
path4=r"D:\Praveen_PhonePe_Project_2023\pulse\data\map\user\hover\country\india\state\andaman-&-nicobar-islands\2018\1.json"
view_data = open(path4,'r')
D = json.load(view_data)
pprint(D)

{'code': 'SUCCESS',
 'data': {'hoverData': {'nicobars district': {'appOpens': 0,
                                              'registeredUsers': 262},
                        'north and middle andaman district': {'appOpens': 0,
                                                              'registeredUsers': 632},
                        'south andaman district': {'appOpens': 0,
                                                   'registeredUsers': 5846}}},
 'responseTimestamp': 1630502911500,
 'success': True}

In [132]:
D['data']['hoverData']

{'north and middle andaman district': {'registeredUsers': 632, 'appOpens': 0},
 'south andaman district': {'registeredUsers': 5846, 'appOpens': 0},
 'nicobars district': {'registeredUsers': 262, 'appOpens': 0}}

## Map_User_DataFrame: T4

path4 = r"D:\Praveen_PhonePe_Project_2023\pulse\data\map\user\hover\country\india\state"
Map_User_List = os.listdir(path4)

clm4 = {'State':[], 'Year': [], 'Quater': [], 'District_Name': [], 'Reg_Users': [], 'App_Open': [] }

for i in Map_User_List:
    p_i = path4 + "/" + i
    Map_yr = os.listdir(p_i)
    for j in Map_yr:
        p_j = p_i + "/" + j
        Map_file = os.listdir(p_j)
        for k in Map_file:
            p_k = p_j + "/" + k
            data4 = open(p_k,'r')
            D = json.load(data4)
            for z in D['data']['hoverData'].items():
                district_Name  = z[0]
                reg_users = z[1]['registeredUsers']
                appsopen = z[1]['appOpens']
                clm4['District_Name'].append(district_Name)
                clm4['Reg_Users'].append(reg_users)
                clm4['App_Open'].append(appsopen)
                clm4['State'].append(state)
                clm4['Year'].append(year)
                clm4['Quater'].append(int(k.strip('.json')))
                
Map_User = pd.DataFrame(clm4)

In [140]:
Map_User

,State,Year,Quater,District_Name,Reg_Users,App_Open
0,west-bengal,2023,1,north and middle andaman district,632,0
1,west-bengal,2023,1,south andaman district,5846,0
2,west-bengal,2023,1,nicobars district,262,0
3,west-bengal,2023,2,north and middle andaman district,911,0
4,west-bengal,2023,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,west-bengal,2023,3,nadia district,1544294,12674328
16832,west-bengal,2023,3,birbhum district,974363,18961683
16833,west-bengal,2023,3,purba medinipur district,1530289,18593769
16834,west-bengal,2023,3,maldah district,1091634,28020285
16835,west-bengal,2023,3,darjiling district,637665,21732323

In [141]:
Map_User.shape

(16836, 6)

In [143]:
p = r"D:\Praveen_PhonePe_Project_2023\pulse\data\top\transaction\country\india\state\andaman-&-nicobar-islands\2018\1.json"
x = open(p,'r')
e = json.load(x)
pprint(e)

{'code': 'SUCCESS',
 'data': {'districts': [{'entityName': 'south andaman',
                         'metric': {'amount': 12560249.343665812,
                                    'count': 5688,
                                    'type': 'TOTAL'}},
                        {'entityName': 'nicobars',
                         'metric': {'amount': 1139848.801225994,
                                    'count': 528,
                                    'type': 'TOTAL'}},
                        {'entityName': 'north and middle andaman',
                         'metric': {'amount': 931663.0770939873,
                                    'count': 442,
                                    'type': 'TOTAL'}}],
          'pincodes': [{'entityName': '744101',
                        'metric': {'amount': 2769297.9039997994,
                                   'count': 1622,
                                   'type': 'TOTAL'}},
                       {'entityName': '744103',
                        'metric': {'amount': 2238041.8716124697,
                                   'count': 1223,
                                   'type': 'TOTAL'}},
                       {'entityName': '744102',
                        'metric': {'amount': 3519059.937562449,
                                   'count': 969,
                                   'type': 'TOTAL'}},
                       {'entityName': '744105',
                        'metric': {'amount': 1298560.9515503529,
                                   'count': 685,
                                   'type': 'TOTAL'}},
                       {'entityName': '744104',
                        'metric': {'amount': 1039715.3111450541,
                                   'count': 340,
                                   'type': 'TOTAL'}},
                       {'entityName': '744107',
                        'metric': {'amount': 556059.5308556345,
                                   'count': 302,
                                   'type': 'TOTAL'}},
                       {'entityName': '744301',
                        'metric': {'amount': 445739.1633851439,
                                   'count': 283,
                                   'type': 'TOTAL'}},
                       {'entityName': '744112',
                        'metric': {'amount': 333709.56700413954,
                                   'count': 269,
                                   'type': 'TOTAL'}},
                       {'entityName': '744202',
                        'metric': {'amount': 238914.01667155625,
                                   'count': 193,
                                   'type': 'TOTAL'}},
                       {'entityName': '744302',
                        'metric': {'amount': 547469.6509380838,
                                   'count': 168,
                                   'type': 'TOTAL'}}],
          'states': None},
 'responseTimestamp': 1630501486876,
 'success': True}

In [149]:
e['data']['pincodes'][0]

{'entityName': '744101',
 'metric': {'type': 'TOTAL', 'count': 1622, 'amount': 2769297.9039997994}}

In [168]:
## Top_Transaction_DataFrame: T5

path5 = r'D:\Praveen_PhonePe_Project_2023\pulse\data\top\transaction\country\india\state'
Top_Trans_List = os.listdir(path5)

clm5 = {'State':[],'Year':[],'Quater':[],
        'Pincodes':[],
        'Transaction_count':[],
        'Transaction_amount':[]}
for state in Top_Trans_List:    #state is like i variable in for-loop
    curr_state = path5 + "/" + state 
    Agg_Year_List = os.listdir(curr_state)
    for year in Agg_Year_List:
        curr_year = curr_state + "/" + year 
        Agg_File_List = os.listdir(curr_year)
        for file in Agg_File_List:
            curr_file = curr_year + "/" + file
            data5 = open(curr_file,'r')
            E = json.load(data5)

            for z in E['data']['pincodes']:
                pincodes=z['entityName']
                count=z['metric']['count']
                amount=z['metric']['amount']
                clm5['Pincodes'].append(district_Name)
                clm5['Transaction_count'].append(count)
                clm5['Transaction_amount'].append(amount)
                clm5['State'].append(state)
                clm5['Year'].append(year)
                clm5['Quater'].append(int(file.strip('.json')))
                #Succesfully created a dataframe
Top_Trans=pd.DataFrame(clm5)

In [169]:
Top_Trans

,State,Year,Quater,Pincodes,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,darjiling district,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,darjiling district,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,darjiling district,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,darjiling district,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,darjiling district,340,1.039715e+06
...,...,...,...,...,...,...
8205,west-bengal,2023,3,darjiling district,3536928,7.193522e+09
8206,west-bengal,2023,3,darjiling district,3464729,4.871566e+09
8207,west-bengal,2023,3,darjiling district,3405551,5.095825e+09
8208,west-bengal,2023,3,darjiling district,3347165,5.353831e+09
8209,west-bengal,2023,3,darjiling district,3304464,5.003674e+09

In [170]:
Top_Trans.shape

(8210, 6)

In [154]:
p6 = r"D:\Praveen_PhonePe_Project_2023\pulse\data\top\user\country\india\state\andaman-&-nicobar-islands\2018\1.json"
x = open(p6,'r')
f = json.load(x)
pprint(f)

{'code': 'SUCCESS',
 'data': {'districts': [{'name': 'south andaman', 'registeredUsers': 5846},
                        {'name': 'north and middle andaman',
                         'registeredUsers': 632},
                        {'name': 'nicobars', 'registeredUsers': 262}],
          'pincodes': [{'name': '744103', 'registeredUsers': 1608},
                       {'name': '744101', 'registeredUsers': 1108},
                       {'name': '744105', 'registeredUsers': 1075},
                       {'name': '744102', 'registeredUsers': 1006},
                       {'name': '744104', 'registeredUsers': 272},
                       {'name': '744202', 'registeredUsers': 237},
                       {'name': '744112', 'registeredUsers': 215},
                       {'name': '744301', 'registeredUsers': 207},
                       {'name': '744107', 'registeredUsers': 196},
                       {'name': '744211', 'registeredUsers': 156}],
          'states': None},
 'responseTimestamp': 1630501494546,
 'success': True}

## Top_User_DataFrame: T6

path6 = r"D:\Praveen_PhonePe_Project_2023\pulse\data\top\user\country\india\state"
Top_User_List = os.listdir(path6)

clm6 = {'State':[],'Year':[],'Quater':[],
        'Pincodes':[],
        'Reg_Users':[],}

for state in Top_User_List:    #state is like i variable in for-loop
    curr_state = path6 + "/" + state 
    Agg_Year_List = os.listdir(curr_state)
    for year in Agg_Year_List:
        curr_year = curr_state + "/" + year 
        Agg_File_List = os.listdir(curr_year)
        for file in Agg_File_List:
            curr_file = curr_year + "/" + file
            data6 = open(curr_file,'r')
            F = json.load(data6)
            for i in F['data']['pincodes']:
                name = i['name']
                RegisteredUsers = i['registeredUsers']
                clm6['Pincodes'].append(name)
                clm6['Reg_Users'].append(RegisteredUsers)
                clm6['State'].append(state)
                clm6['Year'].append(year)
                clm6['Quater'].append(int(file.strip('.json')))
                
Top_User = pd.DataFrame(clm6)

In [161]:
Top_User

                          State  Year  Quater Pincodes  Reg_Users
0     andaman-&-nicobar-islands  2018       1   744103       1608
1     andaman-&-nicobar-islands  2018       1   744101       1108
2     andaman-&-nicobar-islands  2018       1   744105       1075
3     andaman-&-nicobar-islands  2018       1   744102       1006
4     andaman-&-nicobar-islands  2018       1   744104        272
...                         ...   ...     ...      ...        ...
8206                west-bengal  2023       3   700015     122316
8207                west-bengal  2023       3   742304     119245
8208                west-bengal  2023       3   721101     118798
8209                west-bengal  2023       3   700150     114987
8210                west-bengal  2023       3   734006     113991

[8211 rows x 5 columns]

In [162]:
Top_User.shape

(8211, 5)

# Converting json(loaded) to .csv file

In [ ]:
##DataFrames

Agg_Trans
Agg_User
Map_Trans
Map_User
Top_Trans
Top_User

In [171]:
Agg_Trans.to_csv('Agg_Trans.csv',index=False)
Agg_User.to_csv('Agg_User.csv',index=False)
Map_Trans.to_csv('Map_Trans.csv',index=False)
Map_User.to_csv('Map_User.csv',index=False)
Top_Trans.to_csv('Top_Trans.csv',index=False)
Top_User.to_csv('Top_User.csv',index=False)

## Connecting MySQL

In [6]:
#Install mysql connector # already imported 

import mysql.connector as sql

In [ ]:
##Connecting to SQL

In [7]:
mydb = sql.connect(host="localhost",
                  user="root",
                  password="Praveen@12345",
                  database="Praveen_PhonePe_Pulse"
                  )
mycursor = mydb.cursor(buffered=True)

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported